body{

    background-image: url(jm.jpg);
	height: 150vh;
	background-size: cover;
	background-position: center;
}
.login-page{
	width:360px;
	padding:10% 0 0;
	margin: auto;
}
.form{
	position: relative;
	z index: 1;
	background:rgba(7, 40, 195, 0.8);
    max-width:360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;	
}
.form input{
	font-family:"Roboto", san-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding:15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button{
	font-family: "Roboto", san-serif;
	text-transform: ppercase;
	outline: 0;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}
.form  p{
	color: #ffffff;
}

header{
	background-color:rgba(7, 40, 195, 0.8);
	color: #ffffff;
}
footer{
	background-color:rgba(7, 40, 195, 0.8);
	color: #ffffff;
	
}

















